@using Microsoft.AspNet.Identity
@model OnlineBookLibrary.Models.Book

<div class="row">
    <div class="col-md-4">
        @Html.ActionLink("Return book", "CancelLoan", "Loan", new { bookID = Model.Id, userID = User.Identity.GetUserId() }, new { @class = "btn btn-dark mx-auto" })
    </div>
</div>
