@model IEnumerable<OnlineBookLibrary.Models.User>


<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Email)
        </th>
    </tr>

    @foreach (var item in Model)
    {
        if (item.Roles.Any())
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Email)
                </td>

            </tr>
        }
    }

    <tr>
        <td>
            <button class="active" onclick="AddLibrarian()">+</button>
        </td>
    <tr>
        <td id="addLibrarianForm">
            @using (Html.BeginForm("AddLibrarian", "Librarian", FormMethod.Post))
            {
                @Html.AntiForgeryToken()
                <label for="librarianEmail">Email : </label>
                <input class="form-control" type="email" name="librarianEmail" id="librarianEmail" required/>

                <label for="librarianPassword">Password : </label>
                <input class="form-control" type="password" name="librarianPassword" id="librarianPassword" required/>
                <br />
                <button type="submit" class="form-control col-3">Submit</button>
            }
        </td>
    </tr>
    </tr>
</table>

<script>
    $(function () {
        $("#addLibrarianForm").hide();

    });
    function AddLibrarian() {

        if (!$("#addLibrarianForm").is(":visible")) {
            $("#addLibrarianForm").show(500);
        } else {
            $("#addLibrarianForm").hide();
        }
    }
</script>
