@using Microsoft.AspNet.Identity
@model IEnumerable<OnlineBookLibrary.Models.User>

@{
    ViewBag.Title = "UserList";
}
@section Header
{
    <nav class="navbar navbar-expand-sm" style="background-color:black;">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item ">
                <h4 class="text-white">@Html.ActionLink("Home", "Index", "Home", null, new { style = @"text-decoration:none;", @class = "text-white" })</h4>
            </li>
        </ul>
        @Html.Partial("~/Views/Shared/_UserState.cshtml")

    </nav>
    <br>
    <div class="container" name="onlineLibraryLogo">
        <div class="row text-center">
            <div class="col-md-12 col-sm-12 ">
                <h1 class="display-1">Online Library</h1>
            </div>
        </div>
    </div>

    @if (Request.IsAuthenticated)
    {
        @Html.Action("CheckUserBanStatus", "Loan", new { userId = User.Identity.GetUserId() })
    }
}

@section Body
{
    <h2>UserList</h2>

    @Html.Partial("_UserList")
}