@using OnlineLibrary.Helpers
@model OnlineLibrary.Models.Book

<div class="row">
    <div class="col-md-6 col-sm-12">
        @Html.Image($"/Content/Images/Books/{Model.Image}", "112px", "175px", "padding:5px;", "empty")
    </div>
    <div class="col-md-6 col-sm-12 text-left">
        <div class="row">
            <div class="col-md-12">@Model.Name</div>
        </div>
        <div class="row">
            <div class="col-md-12">@Model.Year</div>
        </div>
        <div class="row">
            <div class="col-md-12">@Model.Author</div>
        </div>
    </div>
</div>
