<div class="container">
    <div class="row">
        <div class="col-md-12 text-center">
            <h5>Available books</h5>
        </div>
    </div>
</div>
<div class="container" name="categoriesContainer">
    <div class="card text-dark" style="background-color:black;">
        <div class="card-header">
            <div class="row">
                <div class="col-md-6 col-sm-12">
                    <h5>Select a category</h5>
                </div>
                <div class="col-md-6 col-sm-12">
                    @Html.Action("ReturnTags", "Book")
                </div>
            </div>
        </div>
        <div class="card-body">
            @Html.Action("BookPage", new { page = 0 })
        </div>
        <div class="card-footer">
            <div class="row">
                <div class="col-md-4 text-center">
                    <button type="button" class="btn btn-light">Prev</button>
                </div>
                <div class="col-md-4 text-center">
                    <h5 class="text-white">Current page</h5>
                </div>
                <div class="col-md-4 text-center">
                    <button type="button" class="btn btn-light">Next</button>
                </div>
            </div>
        </div>
    </div>
</div>
