@model IEnumerable<OnlineLibrary.Models.Book>

<div class="card-deck ">
    <div class="card text-white" style="background-color:black;">
        @Html.Partial("_BookPartial", Model.ElementAt(0))
    </div>
    <div class="card text-white" style="background-color:black;">
        @Html.Partial("_BookPartial", Model.ElementAt(1))
    </div>
    <div class="card text-white" style="background-color:black;">
        @Html.Partial("_BookPartial", Model.ElementAt(2))
    </div>
</div>