@model IEnumerable<OnlineLibrary.Models.Book>
@{
    ViewBag.Title = "BookDetails";
}


<div class="col-lg-4">
    <div class="card ">
       <div class="row">
           <div class="col-md-6">
               <div class="card-img-bottom">
                   <a href=""><img class="card-img-top  mx-auto d-block" src="~/Content/Images/Books/HarryPotter1.jpg" alt="Card image cap"></a>
               </div>
           </div>
       </div>
    </div>
</div>



