/*body {
    padding-top: 50px;
    padding-bottom: 20px;
}
*/
/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set width on the form input elements since they're 100% wide by default /*/
input,
select,
textarea {
    max-width: 280px;
}

.card-body {
    padding: 0.5rem;
}
img.card-img-top {
    margin: 0.5em!important;
    /*style =";  "*/
    height: 200px;
    -webkit-object-fit: contain;
    object-fit: contain;
}


.bot-buffer {
    margin-bottom: 15px;
    
}


@media (min-width: 768px) {
    .md-norder-right {
        border-style: solid;
        border-right-width: 20px;
        border-image: url('Images/Capture.PNG') 0 25 0 0 stretch;
    }

}

@media (max-width: 768px) {
    .md-norder-right {
        border-style: solid;
        border-bottom-width: 20px;
        border-image: url('Images/Capture.PNG') 0 0 25 0;
        
    }
}