@model OnlineLibrary.Models.Loan
@using OnlineLibrary.Helpers

<div class="container">
    <br />
    <h2>Active loan</h2>
    <br />
    <div class="card">
        <div class="card-body">
            @Html.Action("DisplayActiveLoan", "Loan", new { userID = 1 })
        </div>
    </div>
</div>
