<div class="container">
    <br />
    <h2>Loaned books</h2>
    <br />
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Book Title</th>
                <th>Status</th>
                <th>Borrow Date</th>
                <th>Due Date</th>
                <th>Date Returned</th>
            </tr>
        </thead>
        <tbody>
            @Html.Action("DisplayHistory", "Loan", new { userID = 1 })
        </tbody>
    </table>
</div>
<br />
