@{
    ViewBag.Title = "Details";
}

@section Header
{
    <nav class="navbar navbar-expand-sm" style="background-color:black;">
        <ul class="navbar-nav">
            <li class="nav-item ">
                <h4 class="text-white">@Html.ActionLink("Home", "Index", "Home", null, new { style = @"text-decoration:none;", @class = "text-white" })</h4>
            </li>
        </ul>
    </nav>
    <br>
    <div class="container" name="onlineLibraryLogo">
        <div class="row text-center">
            <div class="col-md-12 col-sm-12 ">
                <h1 class="display-4">Online Library</h1>
            </div>
        </div>
    </div>
}


@section Body
{
    @Html.Action("ReturnActiveLoan", "Loan")
    @Html.Action("ReturnLoanHistory", "Loan")
}
