<?xml version="1.0" encoding="utf-8" ?>
<connectionStrings>
<add name="onlinelibrary2018"
     providerName="System.Data.SqlClient"
     connectionString="Data Source=onlinelibrary2018.database.windows.net;Initial Catalog=OnlineLibrary;Integrated Security=False;User Id=Intern2018;Password=12345678Q*;MultipleActiveResultSets=True" />
</connectionStrings>