
@{
    ViewBag.Title = "Authentication";
}



<div class="container" name="onlineLibraryLogo">
    <div class="row text-center">
        <div class="col-md-12 col-sm-12 ">
            <h1 class="display-1">Online Library</h1>
        </div>
    </div>
</div>

