@model OnlineLibrary.Models.Loan
@using OnlineLibrary.Helpers
@using Microsoft.AspNet.Identity

<div class="container">
    <br />
    <h2>Active loan</h2>
    <br />
    <div class="card">
        <div class="card-body">
            @Html.Action("DisplayActiveLoan", "Loan", new { userID = User.Identity.GetUserId() })
        </div>
    </div>
</div>
