@model IEnumerable<OnlineBookLibrary.Models.Book>

@{
                /**/

                int nrOfBooks = Model.Count();
}

@if (nrOfBooks <= 3)
{
    @Html.Partial("_RowOfBooks", Model)
}
else
{
    @Html.Partial("_RowOfBooks", Model.Take(3))
    <br />
    @Html.Partial("_RowOfBooks", Model.Skip(3))
}
<span id="maxpage" style="display: none">@ViewBag.maxpage</span>

