<div class="container" name="onlineLibraryLogo">
    <div class="row text-center">
        <div class="col-md-12 col-sm-12 text-warning">
            <h4>Warning!</h4>
            <h4>You are violating the current loan rent period!</h4>
        </div>
    </div>
</div>
