
@{
    ViewBag.Title = "_Error";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Header
{
    <nav class="navbar navbar-expand-sm" style="background-color:black;">
        <ul class="navbar-nav">
            <li class="nav-item ">
                <h4 class="text-white">@Html.ActionLink("Home", "Index", "Home", null, new { style = @"text-decoration:none;", @class = "text-white" })</h4>
            </li>
        </ul>
    </nav>
    <br>
}

@section Body
{
    <div class="container">
        <div class="row text-center">
            <div class="col-md-12 col-sm-12 ">
                <h1 class="display-1">Ooops, something went wrong :(</h1>
            </div>
        </div>
    </div>
}
