@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{



    using (Html.BeginForm("Logout", "User", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
        @Html.AntiForgeryToken()

        <ul class="nav navbar-nav navbar-right">
            <li>
                @Html.ActionLink("Hello " + User.Identity.GetUserName() + "!", "Index", "Home")
            </li>
            <li><a href="javascript:document.getElementById('logoutForm').submit()">Log off</a></li>
        </ul>
    }
}
else
{

    <ul class="navbar-nav navbar-right">
        <li class="nav-item">
            <a class="nav-link" href="@Url.Action("Login","User")"> Login/Register</a>
        </li>
    </ul>


}